/Challenge 1/SendTempData/GUI/_site/build/
/Challenge 2/Remote Access/remoteAccess_onSPOT/nbproject/private/
/Challenge 2/Remote Access/remoteAccess_server/build/
/Challenge 2/Remote Access/GUI/build/
/Challenge 2/Remote Access/GUI/nbproject/private/
/Challenge 2/Remote Access/remoteAccess_server/nbproject/private/