/Challenge 1/SendTempData/GUI/_site/build/
/Challenge 2/Remote Access/remoteAccess_onSPOT/nbproject/private/
/Challenge 2/Remote Access/remoteAccess_server/build/
/Challenge 2/Remote Access/GUI/build/
/Challenge 2/Remote Access/GUI/nbproject/private/
/Challenge 2/Remote Access/remoteAccess_server/nbproject/private/
/Challenge 3/Remote Access/remoteAccess_client/build/
/Challenge 3/Remote Access/remoteAccess_client/nbproject/private/
/Challenge_4/Car Control/ServoSPOT-OnCar/build/
/Challenge_4/Car Control/ServoSPOT-OnCar/nbproject/private
/Challenge_3/Remote Access/remoteAccess_server_1/build/
/Challenge_3/Remote Access/remoteAccess_server_1/nbproject/private/
/Challenge_3/Remote Access/sunSPOT Build Test/build/
/Challenge_3/Remote Access/remoteAccess_server/nbproject/private